body {
  background-color: #f6f7fb;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 1rem 13%;
}

.cardSlider {
  display: flex;
  justify-content: center;
}

.sliderNav {
  margin: 3%;
  display: flex;
  justify-content: space-around;
}

.sliderBtn-L {
  background-color: #78909cff;
  color: whitesmoke;
  font-size: large;
  border-radius: 50px;
  width: 4vw;
  height: 4vw;
  transition: 150ms;
  cursor: pointer;
  border: none;
 
}
.sliderBtn-R {
  background-color: #78909cff;
  color: whitesmoke;
  font-size: large;
  border-radius: 50px;
  width: 4vw;
  height: 4vw;
  transition: 150ms;
  cursor: pointer;
  border: none;
 
}

.sliderBtn-L:hover {
background-color: lightseagreen;
color: white;
box-shadow: 0px 0px 5px 2px #00000050;
}
.sliderBtn-R:hover {
background-color: lightseagreen;
color: white;
box-shadow: 0px 0px 5px 2px #00000050;
}

.question {
  color: #333;
  font-size: 2vw;
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  text-align: left;
  padding: 0 20px;
}


.card-grid {
  display: grid;
  align-items: center;
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightslategray;
  margin-top: 1em;
  position: relative;
  box-shadow: 0 0 5px 2px #00000030;
  background-color: #fbfbf9;
  transform-style: preserve-3d;
  transition: 150ms;
  height: 30vw;
  width: 50vw;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0) )
    translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px #00000050;
}

.card.flip {
  --rotate-y: 180deg;
  background-color: white;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 3%;
  backface-visibility: hidden;
  width: 94%;
}

.card .back {
  color: #333;
  font-size: 2vw;
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  border-bottom: 3px solid #b87887;
  transform: rotateY(180deg);
  width: max-content;
}

.flashcard-options {
  border-top: 2px solid #b87887;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.5rem;
  color: #555;
  font-size: 1.5vw;
  border-bottom: 1px solid #b7e0e6;
  text-indent: 2rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}
